
//Основной контент
.content-main {
  max-width: 1140px;
  min-width: 870px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

//Контент в меню
.content-menu {
  .content-main;
  height: 75px;
}

