//LESS MIXIN ДЛЯ ПОДКЛЮЧНИЯ @FONT-FACE http://chimir.ru/post/39

// Шрифт для логотипа / Font for logo
@font-face {
  font-family: WisdomScript ; /* Гарнитура шрифта */
  src: url(../fonts/WisdomScriptAJ.otf); /* Путь к файлу со шрифтом */
}

// Шрифт для верхнего меню / Font for top menu
@font-face {
  font-family: Poppins-Medium; /* Гарнитура шрифта */
  src: url(../fonts/Poppins-Medium.ttf); /* Путь к файлу со шрифтом */
}



