//LESS MIXIN ДЛЯ ПОДКЛЮЧНИЯ @FONT-FACE http://chimir.ru/post/39

// Шрифт для логотипа / Font for logo
@font-face {
  font-family: WisdomScript ; /* Гарнитура шрифта */
  src: url(../fonts/WisdomScriptAJ.otf); /* Путь к файлу со шрифтом */
}

// Шрифт для верхнего меню / Font for top menu
@font-face {
  font-family: Poppins-Medium; /* Гарнитура шрифта */
  src: url(../fonts/Poppins-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Poppins-SemiBold; /* Гарнитура шрифта */
  src: url(../fonts/Poppins-SemiBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: LibreBaskerville-Regular ; /* Гарнитура шрифта */
  src: url(../fonts/LibreBaskerville-Regular.otf); /* Путь к файлу со шрифтом */
}

h2{
  font: 60px/85px LibreBaskerville-Regular;
  margin: 0 auto 45px;
  color: #313131;
}





