#page1{
  height: 1000px;
  position: relative;
  padding-top: 150px;
  #left-img{
    width: 559px;
    height: 702px;
    border: 10px solid grey;
  }
  #about-us{
    background-color: white;
    width: 650px;
    height: 324px;
    padding: 97px 82px 107px 97px;
    -webkit-box-shadow: 36px 0px 20px rgba(0,0,0,0.05);//Добавить стили свечения
    -moz-box-shadow: 36px 0px 20px rgba(0,0,0,0.05);
    box-shadow: 36px 0px 20px rgba(0,0,0,0.05);
    border:  1px solid grey; //Поправить цвет
    position: absolute;
    left: 46%;
    top:226px;
  }
}